<!-- Footer Content -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybFt6k2zfmB0v9j24xS0d1bW5XHf1LgouU1EJEn/ubGJwI9ak4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0V8Fq4mO2x8Ap4VwsP6pOQQqzLs83j9Jvo5IkcLctJGC7z6p" crossorigin="anonymous"></script>
</body>
</html>
